*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Gilroy, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #002b51;
    background: #f1f7fb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.2;
}

a {
    color: inherit;
}

code {
    font-family: menlo, inconsolata, monospace;
    font-size: calc(1em - 2px);
    color: #555;
    background-color: #f0f0f0;
    padding: 0.2em 0.4em;
    border-radius: 2px;
}

select {
    appearance: none !important;
}

@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}
